In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
temp1=pd.read_csv('mdata.csv')

In [ ]:
temp1.head(5)

,patient_nbr,number_diagnoses,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,encounter_id,race,gender,age,...,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,change,readmitted,Total_drugs,Solo_Insulin,diagnosis
0,55629189,9,Emergency,ToHome,EmergencyRoom,3,149190,Caucasian,Female,[10-20),...,0,18,0,0,0,Ch,>30,1,1,1
1,86047875,6,Emergency,ToHome,EmergencyRoom,2,64410,AfricanAmerican,Female,[20-30),...,5,13,2,0,1,No,NO,1,0,1
2,82442376,7,Emergency,ToHome,EmergencyRoom,2,500364,Caucasian,Male,[30-40),...,1,16,0,0,0,Ch,NO,1,1,1
3,42519267,5,Emergency,ToHome,EmergencyRoom,1,16680,Caucasian,Male,[40-50),...,0,8,0,0,0,Ch,NO,2,0,1
4,82637451,9,Urgent,ToHome,Referral,3,35754,Caucasian,Male,[50-60),...,6,16,0,0,0,No,>30,1,1,1

In [ ]:
temp1.shape

(77272, 21)

In [ ]:
temp1.describe()

,patient_nbr,number_diagnoses,time_in_hospital,encounter_id,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,Total_drugs,Solo_Insulin,diagnosis
count,7.727200e+04,77272.000000,77272.000000,7.727200e+04,77272.000000,77272.000000,77272.000000,77272.000000,77272.000000,77272.000000,77272.000000,77272.000000,77272.000000
mean,5.470419e+07,7.441997,4.453942,1.682145e+08,43.157793,1.322161,16.623874,0.381833,0.211551,0.598354,1.536029,0.390853,0.392225
std,3.860828e+07,1.883602,2.896939,1.029331e+08,19.454088,1.708569,7.448546,1.302233,0.975962,1.019884,0.749765,0.487945,0.488250
min,1.350000e+02,3.000000,1.000000,1.252200e+04,1.000000,0.000000,5.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,2.354589e+07,6.000000,2.000000,8.803799e+07,32.000000,0.000000,11.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
50%,4.558235e+07,8.000000,4.000000,1.553654e+08,44.000000,1.000000,15.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
75%,8.794880e+07,9.000000,6.000000,2.344952e+08,57.000000,2.000000,21.000000,0.000000,0.000000,1.000000,2.000000,1.000000,1.000000
max,1.895026e+08,9.000000,12.000000,4.438572e+08,79.000000,6.000000,37.000000,42.000000,76.000000,4.000000,6.000000,1.000000,1.000000

In [ ]:
temp1.isnull().sum()

patient_nbr                    0
number_diagnoses               0
admission_type_id           7845
discharge_disposition_id    3050
admission_source_id         5392
time_in_hospital               0
encounter_id                   0
race                           0
gender                         0
age                            0
num_lab_procedures             0
num_procedures                 0
num_medications                0
number_outpatient              0
number_emergency               0
number_inpatient               0
change                         0
readmitted                     0
Total_drugs                    0
Solo_Insulin                   0
diagnosis                      0
dtype: int64

In [ ]:
temp1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77272 entries, 0 to 77271
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   patient_nbr               77272 non-null  int64
 1   number_diagnoses          77272 non-null  int64
 2   admission_type_id         69427 non-null  object
 3   discharge_disposition_id  74222 non-null  object
 4   admission_source_id       71880 non-null  object
 5   time_in_hospital          77272 non-null  int64
 6   encounter_id              77272 non-null  int64
 7   race                      77272 non-null  object
 8   gender                    77272 non-null  object
 9   age                       77272 non-null  object
 10  num_lab_procedures        77272 non-null  int64
 11  num_procedures            77272 non-null  int64
 12  num_medications           77272 non-null  int64
 13  number_outpatient         77272 non-null  int64
 14  number_emergency          77272 non-null  int64
 15  number_inpatient          77272 non-null  int64
 16  change                    77272 non-null  object
 17  readmitted                77272 non-null  object
 18  Total_drugs               77272 non-null  int64
 19  Solo_Insulin              77272 non-null  int64
 20  diagnosis                 77272 non-null  int64
dtypes: int64(13), object(8)
memory usage: 12.4+ MB

### dropping num_procedures(did not pass p value test) , patient_nbr and encounter_id

In [ ]:
temp1.drop(['num_procedures','patient_nbr','encounter_id'],axis=1,inplace=True)

In [ ]:
temp1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77272 entries, 0 to 77271
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   number_diagnoses          77272 non-null  int64
 1   admission_type_id         69427 non-null  object
 2   discharge_disposition_id  74222 non-null  object
 3   admission_source_id       71880 non-null  object
 4   time_in_hospital          77272 non-null  int64
 5   race                      77272 non-null  object
 6   gender                    77272 non-null  object
 7   age                       77272 non-null  object
 8   num_lab_procedures        77272 non-null  int64
 9   num_medications           77272 non-null  int64
 10  number_outpatient         77272 non-null  int64
 11  number_emergency          77272 non-null  int64
 12  number_inpatient          77272 non-null  int64
 13  change                    77272 non-null  object
 14  readmitted                77272 non-null  object
 15  Total_drugs               77272 non-null  int64
 16  Solo_Insulin              77272 non-null  int64
 17  diagnosis                 77272 non-null  int64
dtypes: int64(10), object(8)
memory usage: 10.6+ MB

In [ ]:
from sklearn.naive_bayes import GaussianNB
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [ ]:
temp1.columns

Index(['number_diagnoses', 'admission_type_id', 'discharge_disposition_id',
       'admission_source_id', 'time_in_hospital', 'race', 'gender', 'age',
       'num_lab_procedures', 'num_medications', 'number_outpatient',
       'number_emergency', 'number_inpatient', 'change', 'readmitted',
       'Total_drugs', 'Solo_Insulin', 'diagnosis'],
      dtype='object')

In [ ]:
temp1.shape

(77272, 18)

In [ ]:
x=temp1.drop('Solo_Insulin',axis=1)
y=temp1['Solo_Insulin']

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=1,stratify=y)

In [ ]:
num_train=x_train[['number_diagnoses','time_in_hospital','num_lab_procedures', 'num_medications', 'number_outpatient',
       'number_emergency', 'number_inpatient','Total_drugs']]
num_test=num=x_test[['number_diagnoses','time_in_hospital','num_lab_procedures', 'num_medications', 'number_outpatient',
       'number_emergency', 'number_inpatient','Total_drugs']]

In [ ]:
sc=StandardScaler()
num_train=pd.DataFrame(sc.fit_transform(num_train),columns=num_train.columns)
num_test=pd.DataFrame(sc.transform(num_test),columns=num_test.columns)

In [ ]:
x_train.index=np.arange(len(x_train))
x_test.index=np.arange(len(x_test))

In [ ]:
x_test.shape

(15455, 17)

In [ ]:
x_train.drop(['number_diagnoses','time_in_hospital','num_lab_procedures', 'num_medications', 'number_outpatient',
       'number_emergency', 'number_inpatient','Total_drugs'],axis=1,inplace=True)
x_test.drop(['number_diagnoses','time_in_hospital','num_lab_procedures', 'num_medications', 'number_outpatient',
       'number_emergency', 'number_inpatient','Total_drugs'],axis=1,inplace=True)

In [ ]:
x_train=pd.concat([x_train,num_train],axis=1)
x_test=pd.concat([x_test,num_test],axis=1)

In [ ]:
x_test.isnull().sum()

admission_type_id           1551
discharge_disposition_id     587
admission_source_id         1073
race                           0
gender                         0
age                            0
change                         0
readmitted                     0
diagnosis                      0
number_diagnoses               0
time_in_hospital               0
num_lab_procedures             0
num_medications                0
number_outpatient              0
number_emergency               0
number_inpatient               0
Total_drugs                    0
dtype: int64

In [ ]:
x_train = pd.get_dummies(x_train)
x_test = pd.get_dummies(x_test)

In [ ]:
y_train.index=np.arange(len(y_train))
y_test.index=np.arange(len(y_test))

In [ ]:
x_train.shape

(61817, 43)

In [ ]:
x_test.shape

(15455, 43)

In [ ]:
y_train.shape

(61817,)

In [ ]:
y_test.shape

(15455,)

### Naive Bayes

In [ ]:
import sklearn.metrics as metrics

In [ ]:
model = GaussianNB()
model.fit(x_train, y_train)
y_predict = model.predict(x_test)

print(metrics.classification_report(y_test, y_predict))
fpr,tpr,_ =metrics.roc_curve(y_test, y_predict)
aucmetric=metrics.auc(fpr,tpr)
print('Accuracy is {}'.format(metrics.accuracy_score(y_test, y_predict)))
print('AUC is {}'.format(aucmetric))
print('Kappa score is {}'.format(metrics.cohen_kappa_score(y_test,y_predict)))
print('F1-Score is {}'.format(metrics.f1_score(y_test,y_predict)))

              precision    recall  f1-score   support

           0       0.67      0.93      0.78      9414
           1       0.74      0.29      0.42      6041

    accuracy                           0.68     15455
   macro avg       0.70      0.61      0.60     15455
weighted avg       0.70      0.68      0.64     15455

Accuracy is 0.6827563895179554
AUC is 0.6131098283955607
Kappa score is 0.25348444901481115
F1-Score is 0.4201064458900059

### DT

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
dt=DecisionTreeClassifier(criterion='gini',max_depth=9)
grid = {'max_leaf_nodes':np.arange(10,21),'min_samples_leaf':np.arange(1,6)}
gridmodel=GridSearchCV(dt,grid,cv=3)
gridmodel.fit(x_train,y_train)

GridSearchCV(cv=3, estimator=DecisionTreeClassifier(max_depth=9),
             param_grid={'max_leaf_nodes': array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]),
                         'min_samples_leaf': array([1, 2, 3, 4, 5])})

In [ ]:
gridmodel.best_params_

{'max_leaf_nodes': 19, 'min_samples_leaf': 1}

In [ ]:
model = DecisionTreeClassifier(criterion='gini',max_depth=9,max_leaf_nodes=17,min_samples_leaf=1)
model.fit(x_train, y_train)
y_predict = model.predict(x_test)

print(metrics.classification_report(y_test, y_predict))
fpr,tpr,_ =metrics.roc_curve(y_test, y_predict)
aucmetric=metrics.auc(fpr,tpr)
print('Accuracy is {}'.format(metrics.accuracy_score(y_test, y_predict)))
print('AUC is {}'.format(aucmetric))
print('Kappa score is {}'.format(metrics.cohen_kappa_score(y_test,y_predict)))
print('F1-Score is {}'.format(metrics.f1_score(y_test,y_predict)))

              precision    recall  f1-score   support

           0       0.84      0.87      0.85      9414
           1       0.79      0.73      0.76      6041

    accuracy                           0.82     15455
   macro avg       0.81      0.80      0.81     15455
weighted avg       0.82      0.82      0.82     15455

Accuracy is 0.8176641863474604
AUC is 0.8025841545135927
Kappa score is 0.6124698424603174
F1-Score is 0.7587328767123288

### Log Reg

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
y_predict = lr.fit(x_train,y_train).predict(x_test)
print('Accuracy is {}'.format(metrics.accuracy_score(y_test, y_predict)))
print('Kappa score is {}'.format(metrics.cohen_kappa_score(y_test,y_predict)))
print('F1-Score is {}'.format(metrics.f1_score(y_test,y_predict)))
fpr,tpr,_=metrics.roc_curve(y_test,y_predict)
print('AUC is {}'.format(aucmetric))

Accuracy is 0.8296991264962795
Kappa score is 0.6452251788292712
F1-Score is 0.7869515946252226
AUC is [0.8202336850590575, 0.8212697114077288, 0.8227281924710089, 0.8277713253613549, 0.8253530562460278]

In [ ]:
print(metrics.classification_report(y_test,y_predict))
print(metrics.confusion_matrix(y_test,y_predict))

              precision    recall  f1-score   support

           0       0.87      0.85      0.86      9414
           1       0.77      0.80      0.79      6041

    accuracy                           0.83     15455
   macro avg       0.82      0.83      0.82     15455
weighted avg       0.83      0.83      0.83     15455

[[7962 1452]
 [1180 4861]]

In [ ]:
lr.coef_

array([[ 4.08711203e-01,  2.82270181e-01, -4.88923769e-02,
         7.62267456e-02,  1.32821142e-01, -5.11397332e-02,
         2.25157906e-03,  1.44583156e-01, -7.73707797e+00,
        -6.80082045e-01, -1.28653338e-01,  3.50513390e-01,
         3.70736995e-01, -1.68454168e-01,  1.05735205e+00,
         9.48756279e-01,  1.23440159e+00,  1.51111056e-01,
        -1.01996215e-02,  3.16239928e-01,  5.78545066e-01,
        -5.32954345e-02, -4.03482278e-01, -3.93835399e-01,
        -3.39373265e-01, -3.24238004e-01, -7.42070723e-01,
        -7.72153658e-01,  2.68582632e+00,  2.11399336e+00,
         9.04615369e-01, -3.29395540e-01, -7.42222924e-01,
        -9.44903297e-01, -1.08630754e+00, -1.33257032e+00,
        -1.42879245e+00, -1.35446736e+00,  3.56165883e-01,
        -1.87039026e+00, -4.84574126e-01, -5.67132911e-01,
        -4.62517344e-01]])

In [ ]:
xcopy=temp1.drop('Solo_Insulin',axis=1)
ycopy=temp1['Solo_Insulin']
num=xcopy[['number_diagnoses','time_in_hospital','num_lab_procedures', 'num_medications', 'number_outpatient',
       'number_emergency', 'number_inpatient','Total_drugs']]
sc=StandardScaler()
num=pd.DataFrame(sc.fit_transform(num),columns=num.columns)
xcopy.index=np.arange(len(xcopy))
xcopy.drop(['number_diagnoses','time_in_hospital','num_lab_procedures', 'num_medications', 'number_outpatient',
       'number_emergency', 'number_inpatient','Total_drugs'],axis=1,inplace=True)
xcopy=pd.concat([xcopy,num],axis=1)
xcopy = pd.get_dummies(xcopy)
ycopy.index=np.arange(len(ycopy))

In [ ]:
from sklearn.model_selection import KFold

### NB KFOLD

In [ ]:
kfold=KFold(n_splits=5,shuffle=True,random_state=1)
aucmetric=[]
acc=[]
f1=[]
kappa=[]
for train,test in kfold.split(xcopy,ycopy):
    xtrain,xtest=xcopy.iloc[train,:],xcopy.iloc[test,:]
    ytrain,ytest=ycopy.iloc[train],ycopy.iloc[test]
    nb=GaussianNB()
    ypred=nb.fit(xtrain,ytrain).predict(xtest)
    acc.append(metrics.accuracy_score(ytest,ypred))
    f1.append(metrics.f1_score(ytest,ypred))
    kappa.append(metrics.cohen_kappa_score(ytest,ypred))
    fpr,tpr,_=metrics.roc_curve(ytest,ypred)
    aucmetric.append(metrics.auc(fpr,tpr))
print('Avg Accuracy of KFold NB Model is {}'.format(round(np.mean(acc),3)))
print('Avg F1-score of KFold NB Model is {}'.format(round(np.mean(f1),3)))
print('Avg Cohens Kappa Score of KFold NB Model is {}'.format(round(np.mean(kappa),3)))
print('Avg AUC of KFold NB Model is {}'.format(round(np.mean(aucmetric),3)))

Avg Accuracy of KFold NB Model is 0.699
Avg F1-score of KFold NB Model is 0.538
Avg Cohens Kappa Score of KFold NB Model is 0.328
Avg AUC of KFold NB Model is 0.654

### DT KFOLD

In [ ]:
kfold=KFold(n_splits=5,shuffle=True,random_state=1)
aucmetric=[]
acc=[]
f1=[]
kappa=[]
for train,test in kfold.split(xcopy,ycopy):
    xtrain,xtest=xcopy.iloc[train,:],xcopy.iloc[test,:]
    ytrain,ytest=ycopy.iloc[train],ycopy.iloc[test]
    dt=DecisionTreeClassifier(criterion='gini',max_depth=9,max_leaf_nodes=17,min_samples_leaf=1)
    ypred=dt.fit(xtrain,ytrain).predict(xtest)
    acc.append(metrics.accuracy_score(ytest,ypred))
    f1.append(metrics.f1_score(ytest,ypred))
    kappa.append(metrics.cohen_kappa_score(ytest,ypred))
    fpr,tpr,_=metrics.roc_curve(ytest,ypred)
    aucmetric.append(metrics.auc(fpr,tpr))
print('Avg Accuracy of KFold DT Model is {}'.format(round(np.mean(acc),3)))
print('Avg F1-score of KFold DT Model is {}'.format(round(np.mean(f1),3)))
print('Avg Cohens Kappa Score of KFold DT Model is {}'.format(round(np.mean(kappa),3)))
print('Avg AUC of KFold DT Model is {}'.format(round(np.mean(aucmetric),3)))

Avg Accuracy of KFold DT Model is 0.816
Avg F1-score of KFold DT Model is 0.773
Avg Cohens Kappa Score of KFold DT Model is 0.618
Avg AUC of KFold DT Model is 0.813

### LOGISTIC REGRESSION KFOLD

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
kfold=KFold(n_splits=5,shuffle=True,random_state=1)
aucmetric=[]
acc=[]
f1=[]
kappa=[]
for train,test in kfold.split(xcopy,ycopy):
    xtrain,xtest=xcopy.iloc[train,:],xcopy.iloc[test,:]
    ytrain,ytest=ycopy.iloc[train],ycopy.iloc[test]
    lr=LogisticRegression()
    ypred=lr.fit(xtrain,ytrain).predict(xtest)
    acc.append(metrics.accuracy_score(ytest,ypred))
    f1.append(metrics.f1_score(ytest,ypred))
    kappa.append(metrics.cohen_kappa_score(ytest,ypred))
    fpr,tpr,_=metrics.roc_curve(ytest,ypred)
    aucmetric.append(metrics.auc(fpr,tpr))
print('Avg Accuracy of KFold LR Model is {}'.format(round(np.mean(acc),3)))
print('Avg F1-score of KFold LR Model is {}'.format(round(np.mean(f1),3)))
print('Avg Cohens Kappa Score of KFold LR Model is {}'.format(round(np.mean(kappa),3)))
print('Avg AUC of KFold LR Model is {}'.format(round(np.mean(aucmetric),3)))

Avg Accuracy of KFold LR Model is 0.828
Avg F1-score of KFold LR Model is 0.785
Avg Cohens Kappa Score of KFold LR Model is 0.642
Avg AUC of KFold LR Model is 0.823

In [ ]:
pd.DataFrame([['NB',34.8,56.3,66.6,70.4],['DT',62.1,77.4,81.4,81.8],['LogReg',64.1,78.5,82.3,82.8]],columns=['Model','Kappa Score','F1-Score','AUC','Accuracy'])

    Model  Kappa Score  F1-Score   AUC  Accuracy
0      NB         34.8      56.3  66.6      70.4
1      DT         62.1      77.4  81.4      81.8
2  LogReg         64.1      78.5  82.3      82.8

In [ ]:
temp1.isnull().sum()

number_diagnoses               0
admission_type_id           7845
discharge_disposition_id    3050
admission_source_id         5392
time_in_hospital               0
race                           0
gender                         0
age                            0
num_lab_procedures             0
num_medications                0
number_outpatient              0
number_emergency               0
number_inpatient               0
change                         0
readmitted                     0
Total_drugs                    0
Solo_Insulin                   0
diagnosis                      0
dtype: int64